<br>
<header id="header" class="show-me">
  <div class="wrapper-big is-inview">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="p-2">
        <a href="/projects">
          <%= image_tag("pma-logo-dark.png", :alt => "logo", width: "189px", height: "70px", padding: "0.75em") %>
        </a>
      </div>

      <div class="p-2" style="width: 60%"></div>

      <div class="ml-auto p-2 h4">
        <!--<div id="MyClockDisplay" class="clock" onload="showTime()"></div>-->
      </div>    
      <!--<div class="p-2">-->
        <% if logged_in? %>
          <button type="button" class="btn btn-light mb-2"><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"text-decoration-none h6" %></button>
        <% else %>
          <button type="button" class="btn btn-light mb-2"><%= link_to "Log in", new_session_path(resource_name), class:"text-decoration-none h6" %></button>
          <div></div>
        <% end %>
      <!--</div>-->
    </div>
  </div>
</header>